<div dir="ltr" style="text-align: left;" trbidi="on">
	<a class="moot" href="https://moot.it/i/spiritualseed">Spiritualseed forum</a>
	<%= javascript_include_tag src="//cdn.muut.com/1/moot.min.js" %>
</div>
